@import '../../partials';

.wrapper {
  margin: 4em auto;
  background: var(--post-bg);
  box-shadow: 5px 5px #00000073;
  border: 2px solid black;
  max-width: 700px;

  .border {
    padding: 2em;

    .inset {
      text-align: center;
      padding: 4em 0;
      box-shadow: 5px 5px #00000075 inset;
      background: #404040;
      border: 2px solid black;

      i {
        font-size: 3em;
        margin-bottom: 1em;
      }
    }
  }

  .title {
    font-size: 2em;
  }
}
