.wrapper {
  margin-bottom: 25px;
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 25px;

  .formField {
    .stepIndicator {
      font-size: 2em;
      margin-inline-end: 9px;
      // font-weight: bold;
      display: inline;
    }

    .subscriptLabel {
      font-size: 0.8em;
    }
  }

  .formFieldFlex {
    display: flex;
    align-items: baseline;

    .flex1 {
      flex: 1;
    }
  }

  .actionButtons {
    display: flex;
  }

  .errorMessage {
    background: var(--color-red);
    padding: 10px;
    border-radius: var(--border-radius-md);
    margin-top: 30px;

    a {
      color: inherit;
    }
  }
}
