@import '../../partials';

$avatar-size: 75;
$avatar-size-px: $avatar-size + 0px;

:export {
  avatarSize: $avatar-size;
}

.wrapper {
  background: black;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: grid;
  grid-column-gap: $avatar-size-px;

  &.hide {
    opacity: 0;
  }

  .avatarWrapper {
    width: $avatar-size-px;
    height: $avatar-size-px;
    outline: 1px solid black;
    outline-offset: -3px;

    @include mobile {
      width: $avatar-size-px / 1;
      height: $avatar-size-px / 1;
    }

    .avatar {
      width: 100%;
      height: 100%;
      box-shadow: 0px 0px black;

      &:hover {
        transform: translate(-5px, -5px);
        box-shadow: 5px 5px black;
      }
    }
  }

  .message {
    position: absolute;
    bottom: 50px;
    right: 50px;
    // transform: translate(-50%, -50%);
    font-size: 4em;
    font-weight: bold;
    background: white;
    border: 4px solid black;
    color: black;
    box-shadow: 5px 5px black;
    padding: 12px 20px;
    text-align: center;

    @include mobile {
      bottom: 10px;
      right: 10px;
      font-size: 1.8em;
    }
  }
}
