@import '../../../../partials';

.wrapper {
  color: var(--text-color-amplified);
  font-size: 1.1em;
  white-space: pre-wrap;
  margin-bottom: 15px;
  line-height: 1.5em;

  .answerWrapper {
    display: flex;
    margin-bottom: 12px;

    .answer {
      display: block;
      font-family: inherit;
      font-size: inherit;
      background: var(--poll-answer-bg-color);
      padding: 5px 6px;
      border: 1px solid var(--feedfarm-cyan);
      color: var(--feedfarm-cyan);
      box-shadow: 2px 2px #00000054;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      outline: none;
      max-width: 100%;
      margin-inline-end: 12px;
      text-align: start;

      .label {
        margin: 2px 0px 1px;
        display: inline-block;
        transform-origin: 0 0;
      }
    }

    .odometer {
      // color: black;

      :global(.odometer-ribbon-inner) {
        transition: transform 2s !important;
      }
    }
  }

  &.showingResults {
    .answer {
      cursor: default;
    }
  }
}
